@import 'src/assets/styles/variables';

.wrapperButtons {
	display: flex;
	align-items: center;
	justify-content: space-between;
    margin-top: .5rem;

	> div {
		width: 49%;
		> button {
			width: 100%;
			&:disabled {
				cursor: not-allowed;
				opacity: 0.5;
				pointer-events: none;
			}
		}
		&:last-child > button {
			background-color: #20366b;
			opacity: 0.8;
			transition: opacity 0.2s ease;
			&:hover {
				background-color: #29478c;
				opacity: 1;
			}
			&:disabled {
				opacity: 0.5;
				pointer-events: none;
			}
		}
	}
}


